build/
qml/music_resource/loadmusic_by_default/*
.qtcreator/
.qmlls.ini
/downloaded_songs/*
/config/covers/*
*.log
agent_service/.idea
agent_service/__pycache__
__pycache__/
tools/
/config/covers
/scripts
!/scripts/build_standalone_package.py
/dist
/installer
/config/recent_tracks.ini
/docs
